RECIPE_API_KEY=350d57871e6ab66b412dcc3ef52cc2b2
RECIPE_API_BASE_URL=https://www.qqsuu.cn/api/dm-caipu
MODEL_API_KEY=sk-4e30ccea96104108af966dcbb48bafac
MODEL_API_BASE_URL=https://api.deepseek.com
APP_ENV=development
